.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #0a0a0a; /* fundo escuro */
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons .icon {
  width: 28px;
  height: 28px;
  transition: transform 0.3s ease;
}

.social-icons .icon:hover {
  transform: scale(1.2);
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  color: white;
  font-family: "Poppins", sans-serif; /* Fonte moderna */
  font-size: 16px;
  text-decoration: none; /* Remove sublinhado */
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #5804c7; /* cor de destaque no hover */
}
